.chat-side{
  background-color: #253141;
  width: 300px;
  height: 100%;
  color: white;
}
.chat-side .side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.chat-side .side-header__box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}
.chat-side .side-header__box__menu{
  display: flex;
}
ul.header__lists{
  display: flex;
  color: #ffffff;
}
.list__edit{
  margin-left: 0.3rem;
}
.list__cog{
  margin-left: 0.3rem;
}
.icon-color{
  color: white;
}
.chat-side .groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
}
.group{
  text-decoration: none;
}
.group__name{
  color: #fff;
  font-size: 15px;
}
.group__message{
  color: #fff;
  font-size: 11px;
  margin-top: 5px;
}