.chat-side{
  background-color: #253141;
  width: 300px;
  height: 100%;
  color: white;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .side-header__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
        &__menu{
          display: flex;
        }
      }
    }
  }
.header__lists{
  display: flex;
  color: #ffffff;
  .list__edit{
    margin-left: 0.3rem;
  }
}
.list__cog{
  margin-left: 0.3rem;
}
.icon-color{
  color: white;
}
.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  .group{
    text-decoration: none;
    &__name{
      color: #fff;
      font-size: 15px;
    }
  }
}
.group__message{
  color: #fff;
  font-size: 11px;
  margin-top: 5px;
}